h1 {
  color: aqua;
}

.outer-div {
  height: 200px;
  width: 200px;
  background-color: pink;
  display: flex;
  align-items: end;
  justify-content: start;
}

.inner-div {
  height: 50px;
  width: 50px;
  background-color: aquamarine;
}

/* .content {
  height: 20px;
  width: 30px;
} */

/* #input {
  height: ;
} */